body {
	font-family:"Open Sans", sans-serif;
	color: #272829;
	overflow-x: hidden;
}

a {
	color: #149ddd;
  	text-decoration: none;
}

a:hover {
	color: #149ddd;
  	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #149ddd;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
  }
  
  .back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
  }
  
  .back-to-top:hover {
	background: #2eafec;
	color: #fff;
  }
  
  .back-to-top.active {
	visibility: visible;
	opacity: 1;
  }


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	position: fixed;
	/* background: #040b14; */
	background-color: rgb(18, 18, 78);
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	overflow-y: auto;
	transition: all ease-in-out 0.5s;
	z-index: 9997;
	transition: all 0.5s;
	padding: 0 15px;
}

#header .profile img {
	margin: 15px auto;
	display: block;
	height: 210px;
	width: 190px;
	border: 8px solid #2c2f3f;
  }

#header .profile h1 {
	font-size: 24px;
	margin: 0;
	padding: 0;
	font-weight: 600;
	text-align-last:center;
	font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}


#main {
	margin-left: 300px;
}

@media (max-width: 1199px) {
	#header {
	  left: -300px;
	}
  
	#main {
	  margin-left: 0;
	}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
	padding: 30px 0 0 0;
}

.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu>ul>li {
	position: relative;
	white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	font-size: 24px;
	transition: all 0.4s;
	outline: none !important;
	background-color: #149ddd;
	color: #fff;
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	border-radius: 50px;
	cursor: pointer;
}

.mobile-nav-active {
	overflow: hidden;
  }
  
  .mobile-nav-active #header {
	left: 0;
}

/*--------------------------------------------------------------
# Hero Section 
--------------------------------------------------------------*/
/*             Hajar                  */

#heroHajar {
	width: 100%;
	height: 100vh;
	background: url("../img/Hajar_bg2.jpg");
	background-size: cover;
}

#heroHajar:before{
	content: "";
	background: rgba(5, 13, 24, 0.3);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#heroHajar .hero-container {
	position: relative;
	z-index: 2;
	min-width: 300px;
}

#heroHajar h1 {
	margin: 0 0 10px 0;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;
}

#heroHajar p {
	color: #fff;
	margin-bottom: 50px;
	font-size: 26px;
	font-family: "Poppins", sans-serif;
}

#heroHajar p span {
	color: #fff;
	padding-bottom: 4px;
	letter-spacing: 1px;
	border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
	#heroHajar {
	  background-attachment: fixed;
	}
}
  
@media (max-width: 768px) {
	#heroHajar h1 {
		font-size: 28px;
		line-height: 36px;
	}

	#heroHajar h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

/*             Amélie                  */

#heroAmelie {
	width: 100%;
	height: 100vh;
	background: url("../img/Amelie_BW_edited.jpg");
	background-size: cover;
}

#heroAmelie:before{
	content: "";
	background: rgba(5, 13, 24, 0.3);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#heroAmelie .hero-container {
	position: relative;
	z-index: 2;
	min-width: 300px;
}

#heroAmelie h1 {
	margin: 0 0 10px 0;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;
}

#heroAmelie p {
	color: #fff;
	margin-bottom: 50px;
	font-size: 26px;
	font-family: "Poppins", sans-serif;
}

#heroAmelie p span {
	color: #fff;
	padding-bottom: 4px;
	letter-spacing: 1px;
	border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
	#heroAmelie {
	  background-attachment: fixed;
	}
}
  
@media (max-width: 768px) {
	#heroAmelie h1 {
		font-size: 28px;
		line-height: 36px;
	}

	#heroAmelie h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

/*             Peio                  */

#heroPeio {
	width: 100%;
	height: 100vh;
	background: url("../img/peio_bg.JPG");
	background-size: cover;
}

#heroPeio:before{
	content: "";
	background: rgba(5, 13, 24, 0.3);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#heroPeio .hero-container {
	position: relative;
	z-index: 2;
	min-width: 300px;
}

#heroPeio h1 {
	margin: 0 0 10px 0;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;
}

#heroPeio p {
	color: #fff;
	margin-bottom: 50px;
	font-size: 26px;
	font-family: "Poppins", sans-serif;
}

#heroPeio p span {
	color: #fff;
	padding-bottom: 4px;
	letter-spacing: 1px;
	border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
	#heroPeio {
	  background-attachment: fixed;
	}
}
  
@media (max-width: 768px) {
	#heroPeio h1 {
		font-size: 28px;
		line-height: 36px;
	}

	#heroPeio h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px;
}

.section-bg {
	background: #f5f8fd;
}

.section-title {
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #173b6c;
}

.section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: #149ddd;
	bottom: 0;
	left: 0	;
}

.section-title p {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
	font-weight: 700;
	font-size: 26px;
	color: #173b6c;
}

.about .content ul {
	list-style: none;
	padding: 0;
}

.about .content ul li {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.about .content ul strong {
	margin-right: 10px;
}

.about .content ul i {
	font-size: 16px;
	margin-right: 5px;
	color: #149ddd;
	line-height: 0;
}

.about .content p:last-child {
	margin-bottom: 0;
}

.apropos {
	font-weight: 502;
	font-size: 15;
}
/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
/* .skills .progress {
	height: 100px;
	display: block;
	background: none;
	border-radius: 0;
} */

.skills .skill {
	padding: 0;
	margin: 0 0 6px 0;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	color: #050d18;
}

/* .skills .progress-bar-wrap {
	background: #dce8f8;
	height: 10px;
}

.skills .progress-bar {
	width: 1px;
	height: 10px;
	transition: 0.9s;
	background-color: #149ddd;
} */

.objet{
	width: 110%;
	margin-bottom: 10%;

}
/* .objet img {
	width: 12%;
} */

.python {
	margin-right: 2%;
	width: 13%;
}

.java {
	margin-right: 2%;
	width: 10%;
}

.cplus {
	width: 13%;
}

.base_de_donnee {
	width: 180%;
	
}

/* .base_de_donnee img {
	width: 10%;
} */

.mySql {
	margin-right: 1%;
	width: 12%;
}

.mariaDB {
	width: 12%;
	margin-right: 0%;
}

.php {
	width: 12%;
}

.front{
	width: 160%;
	margin-bottom: 14.5%;
}

.sap {
	width: 9%;
}

.angular {
	width: 19%;
}

.html {
	width: 12%;
}

.react {
	width: 16%;
}

.autres_outils {
	width: 130%;
	margin-top: 5%;
}


.docker {
	width: 10%;
	margin-right: 1.5%;
}

.rstudio {
	width: 13.5%;
}

.github {
	width: 13%;
}

.gitLab {
	width: 10%;
}



/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
 .resume .resume-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #050d18;
}
  
.resume .resume-item {
	padding:0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid #1f5297;
	position: relative;
}
  
.resume .resume-item h4 {
	line-height: 18px;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	color: #050d18;
	margin-bottom: 10px;
}
  
.resume .resume-item h5 {
	font-size: 16px;
	background: #e4edf9;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 10px;
}
  
.resume .resume-item ul {
	padding-left: 20px;
}
  
.resume .resume-item ul li {
	padding-bottom: 10px;
}
  
.resume .resume-item:last-child {
	padding-bottom: 0;
}
  
.resume .resume-item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: #090808;
	border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
/* .contact ul{
	list-style: none;
} */

  