body {
  margin: 0;
  overflow: hidden;
}

.sprite {
    width: 102px;
    height: 147px;
    position: absolute;
    bottom: 100px;
  }


.person {
    height: 180px;
    position: absolute;
    bottom: 100px;
    left: 1500px;
    background-image: url(../img/pilot.png);
  }

.text1 {
    position: absolute;
    top: 42%;
    left: 35%;
    font-size: xx-large;
  }

.text2 {
  position: absolute;
  top: 30%;
  left: 55%;
  font-size: xx-large;
}
  
/*WALKING ANIMATION*/

  .right {
    background-image: url(../img/standing-right.png);
  }
  
  .left {
    background-image: url(../img/standing-left.png);
  }
  
  .walk-right {
    background-image: url(../img/walk-right.png);
    -webkit-animation: walk 0.9s steps(6) infinite;
    -moz-animation: walk 0.9s steps(6) infinite;
    -ms-animation: walk 0.9s steps(6) infinite;
    -o-animation: walk 0.9s steps(6) infinite;
    animation: walk 0.9s steps(6) infinite;
  }
  
  .walk-left {
    background-image: url(../img/walk-left.png);
    -webkit-animation: walk 0.9s steps(6) infinite;
    -moz-animation: walk 0.9s steps(6) infinite;
    -ms-animation: walk 0.9s steps(6) infinite;
    -o-animation: walk 0.9s steps(6) infinite;
    animation: walk 0.9s steps(6) infinite;
  }

  @-webkit-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-moz-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-ms-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-o-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }

/*SCROLLING BACKGROUND*/

.container {
  overflow: hidden;
}

.sliding-background {
  background: url("../img/desert.png") repeat-x;
  height: 950px;
  width: 5076px;
  animation: slide 60s linear infinite;
  background-size: 38% 100%;
  animation-play-state: paused;
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-20000px, 0, 0);
  }
}


:root {
  --main-light-color: #f9bbb1;
  --main-dark-color: #481b0b;
  --main-background-color: black;
}

body{
	background-color: var(--main-background-color);
}

.box{
	width: 80vh;
	height: 80vh;
	/* border: solid black; */
	margin: auto;
	position: absolute;
	display: block;
  left: 220px;
}

.center{
	padding-top: 50%;
}

.dialog-1{
  	height: 20%;
  	width: 40%;
  	background-color: wheat;
  	position: absolute;
    top: -620px;
    left: 400px;
  	border-radius: 10%;
    display: none;
}

.left-point{
	width: 0;
	height: 0;
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-top: 10vh solid wheat;
	position: absolute;
	top: 70%;
	left: -10%;
	transform: rotate(60deg);
}

.dialog-2{
  	height: 20%;
  	width: 40%;
  	background-color: var(--main-light-color);
  	position: absolute;
  	border-radius: 10%;
  	right: 0;
    top: -620px;
    left: 400px;
    display: none;
}

.right-point{
	width: 0;
	height: 0;
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-top: 10vh solid var(--main-light-color);
	position: absolute;
	top: 70%;
	right: -10%;
	transform: rotate(-60deg);
}
