body {
  margin: 0;
  overflow: hidden;
}

.sprite {
    width: 102px;
    height: 147px;
    position: absolute;
    bottom: 35px;
  }


.person {
    height: 180px;
    position: absolute;
    bottom: 35px;
    left: 1500px;
    background-image: url(../img/pilot.png);
  }

.dialog-1 {
  position: absolute;
  top: -440px;
  left: 350px;
  background-image: url("../img/dialogBubble.png");
  background-size: 100% 100%;
  width: 340px;
  height: 255px;
  display: none;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.dialog-1 p{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#text1 {
  position: absolute;
  left: 60px;
  top: 35px;
  width: 175px;
  text-align: center;
}

.dialog-2 {
  position: absolute;
  top: -440px;
  left: 380px;
  background-image: url("../img/dialogBubble.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 340px;
  height: 255px;
  display: none;
}

#text2 {
  position: absolute;
  left: 65px;
  top: 35px;
  width: 175px;
  text-align: center;
}
  
/*WALKING ANIMATION*/

  .right {
    background-image: url(../img/standing-right.png);
  }
  
  .left {
    background-image: url(../img/standing-left.png);
  }
  
  .walk-right {
    background-image: url(../img/walk-right.png);
    -webkit-animation: walk 0.9s steps(6) infinite;
    -moz-animation: walk 0.9s steps(6) infinite;
    -ms-animation: walk 0.9s steps(6) infinite;
    -o-animation: walk 0.9s steps(6) infinite;
    animation: walk 0.9s steps(6) infinite;
  }
  
  .walk-left {
    background-image: url(../img/walk-left.png);
    -webkit-animation: walk 0.9s steps(6) infinite;
    -moz-animation: walk 0.9s steps(6) infinite;
    -ms-animation: walk 0.9s steps(6) infinite;
    -o-animation: walk 0.9s steps(6) infinite;
    animation: walk 0.9s steps(6) infinite;
  }

  @-webkit-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-moz-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-ms-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-o-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }

/*SCROLLING BACKGROUND*/

.container {
  overflow: hidden;
}

.sliding-background {
  background: url("../img/desert.png") repeat-x;
  height: 100vh;
  width: 5076px;
  animation: slide 60s linear infinite;
  background-size: 75% 100%;
  animation-play-state: paused;
  background-repeat: no-repeat;
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-20000px, 0, 0);
  }
}


:root {
  --main-light-color: #f9bbb1;
  --main-dark-color: #481b0b;
  --main-background-color: black;
}

body{
	background-color: var(--main-background-color);
}

.box{
	width: 80vh;
	height: 80vh;
	/* border: solid black; */
	margin: auto;
	position: absolute;
	display: block;
  left: 220px;
}

.center{
	padding-top: 50%;
}
