body {
  margin: 0;
  overflow-y: hidden;
  background-color: antiquewhite;
}

.sprite {
    width: 102px;
    height: 148px;
    margin-top: 490px;
  }

.floor {
  margin-top: calc(490+148)px;
 width: 100vw;
 height: 20vh;
  background-color: purple;
}
  
  .right {
    background-image: url(../img/standing-right.png);
  }
  
  .left {
    background-image: url(../img/standing-left.png);
  }
  
  .walk-right {
    background-image: url(../img/walk-right.png);
    -webkit-animation: walk 0.9s steps(6) infinite;
    -moz-animation: walk 0.9s steps(6) infinite;
    -ms-animation: walk 0.9s steps(6) infinite;
    -o-animation: walk 0.9s steps(6) infinite;
    animation: walk 0.9s steps(6) infinite;
  }
  
  .walk-left {
    background-image: url(../img/walk-left.png);
    -webkit-animation: walk 0.9s steps(6) infinite;
    -moz-animation: walk 0.9s steps(6) infinite;
    -ms-animation: walk 0.9s steps(6) infinite;
    -o-animation: walk 0.9s steps(6) infinite;
    animation: walk 0.9s steps(6) infinite;
  }
  
  @-webkit-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-moz-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-ms-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-o-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  @-keyframes walk {
    from {
      background-position: 0px;
    }
    to {
      background-position: -612px;
    }
  }
  